<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="d-flex justify-content-center text-center">
                    <h1 class="display-4">Welcome to Pacific Point Hotel</h1>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <p class="lead">It's easy to book and stay at our luxurious resort which has all the facilities you
                        need to help you unwind. View our popular rooms below.</p>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <p>Our facilities include:</p>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <ul>
                        <li>5 star resort in a central location</li>
                        <li>Swimming pool with swim up bar</li>
                        <li>A wide variety of dining choices with 5 restaurants</li>
                        <li>Free high speed wi-fi in all rooms</li>
                        <li>Located close to beach and bush trails</li>
                    </ul>
                </div>
                <hr class="my-4">
                <img src="../images/resort-jumboPic.jpg" alt="Photo of resort with pool and bridge" width="100%">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <!-- Date picker for check-in and check-out dates -->
            <div class="d-flex justify-content-center" id="dates-container">
                <!-- added this class -->
                <div class="date-entry">
                    <label for="arrival">Arrival Date:</label>
                    <input type="text" id="arrival">
                </div>
                <div class="date-entry">
                    <label for="leaving">Leaving Date:</label>
                    <input type="text" id="leaving">
                </div>
            </div>
            <!-- Display message if date range is invalid -->
            <div id="date-invalid">
                <p class="text-warning">Please enter a valid date range.</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <ul class="room-list" style="list-style-type: none">
                <!-- A list of the hotel rooms goes here after being retrieved from the database. Hardcoding some rooms here just for testing. -->
                {{#each cards}}
                <li>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src={{ this.dataValues.room_photo }} class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ this.dataValues.room_name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ this.dataValues.room_cost }}</h6>
                                    <p class="card-text">{{ this.dataValues.room_desc }}</p>
                                    <div class="col-md-04 book-btn">
                                        <a class="bookNow" href="/booking/{{this.dataValues.room_number}}"
                                            class="btn btn-primary btn-lg book-btn">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>